In [1]:
cust_data = {}

new_user_attributes = []

In [2]:
import random

accno = random.randint(10000, 99999)

In [30]:
name = (input("Enter Your Name:"))
addr = (input("Enter Your Address:"))
phno = int(input("Enter Your Pnone No:"))
govid  = int(input("Enter Your govid:"))
amt = int(input("Enter Your Amount:"))

new_user_inputs=[]

new_user = {accno:{"name":name,"address":addr,"phone num":phno,"govt id":govid,"amount":amt}}
cust_data.update(new_user)

print("your details are added successfully.\nYour account number is",accno,".\nPlease don't lose it.")

Enter Your Name:ravi
Enter Your Address:kota
Enter Your Pnone No:6514524521
Enter Your govid:5414
Enter Your Amount:5000

{17078: {'name': 'ravi',
  'address': 'kota',
  'phone num': 6514524521,
  'govt id': 5414,
  'amount': 5000}}

In [ ]:
cust_data()

In [ ]:

print("Welcome to the Chit Fund Company! \n \nEnter 1 if you are a new customer. \nEnter 2 if you are an existing customer. \nEnter 3 to terminate the application")
while True:

    user_choice = input()

    while user_choice not in ['1', '2', '3']:
        print("Invalid input!")
        print("Enter 1 if you are a new customer. \nEnter 2 if you are an existing customer. \nEnter 3 to terminate the application")
        user_choice = input()

# If the user enters 1, then call the 'new_user() function (to create a new account for the user and get their personal detail

# Write your code here

    if user_choice == "1": 
        new_user()
        print("Thank you, for banking with us!")

#Else If the user enters 2, then call the 'existing_user #Write your code here

    elif (user_choice == "2"):
        existing_user() 
        print("Thank you, for banking with us!")
    
    elif (user_choice == "3"):
        print("Thank you, for banking with us!")
        break

Welcome to the Chit Fund Company!

Enter 1 if you are a new customer.
Enter 2 if you are an existing customer.
Enter 3 to terminate the application
2
Please enter your account number:17078

In [30]:
def existing_user():

# Step 1: Ask the user to enter the existing account number and store it as an integer.

# Write your code here 
    acc_num=int(input("Please enter your account number:"))

    while True:

        if acc_num in cust_data:

            break

        else:

            acc_num=int(input("Not found. Please enter your correct account number:")) # Step 2: Print the welcome message to the user.

    print("Welcome, ", cust_data[acc_num]['name']," !\nEnter 1 to check your balance. \nEnter 2 to withdraw an amount. \nEnter 3 to deposit an amount")

    #Write your code here # Step 3: Asking the user

    user_choice = input()

    while user_choice not in ['1', '2', '3']:

        print("Invalid input!\nEnter 1 to check your balance. \nEnter 2 to withdraw an amount. \nEnter 3 to deposit an amount.")

        user_choice = input()

    # Step 4:

    # If 'user_choice -- 1' then display the account balance i.e. 'cust data[acc_num] {'amount']'

    #Write your code here

    if user_choice == '1':

        print(cust_data[acc_num]['amount'])

    #Else if user choice = 2 then subtract the withdrawal amount from the available balance.

    elif user_choice == 2: 
        amm=int(input("Enter the amount to be withdrawn: "))

        if amm>cust_data[acc_num]['amount']:

            print("Insufficient balance. \nAvailable balance: ", cust_data[acc_num]['amount'])

        else:

            cust_data[acc_num]['amount']=cust_data[acc_num] ['amount']-amm 
            print("Withdrawal successful.\nAvailable Balance: ", cust_data[acc_num] ['amount'])

    # Else if 'user_choice -- 3 then add the deposit amount to the available balance. 
    elif user_choice == '3': 
        amm=int(input("Enter the amount to be deposited: "))

        cust_data[acc_num]['amount']=cust_data[acc_num]['amount']+amm 
        print("Deposit successful.\nAvailable Balance:", cust_data[acc_num] [ 'amount'])

In [20]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.style as style
import seaborn as sns
import itertools
%matplotlib inline

In [21]:
applicationDF = pd.read_csv(r'C:\Users\hyara\Documents\python1\data sets\previous_application.csv')
applicationDF.head()

,SK_ID_PREV,SK_ID_CURR,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,...,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL
0,2030495,271877,Consumer loans,1730.430,17145.0,17145.0,0.0,17145.0,SATURDAY,15,...,Connectivity,12.0,middle,POS mobile with interest,365243.0,-42.0,300.0,-42.0,-37.0,0.0
1,2802425,108129,Cash loans,25188.615,607500.0,679671.0,NaN,607500.0,THURSDAY,11,...,XNA,36.0,low_action,Cash X-Sell: low,365243.0,-134.0,916.0,365243.0,365243.0,1.0
2,2523466,122040,Cash loans,15060.735,112500.0,136444.5,NaN,112500.0,TUESDAY,11,...,XNA,12.0,high,Cash X-Sell: high,365243.0,-271.0,59.0,365243.0,365243.0,1.0
3,2819243,176158,Cash loans,47041.335,450000.0,470790.0,NaN,450000.0,MONDAY,7,...,XNA,12.0,middle,Cash X-Sell: middle,365243.0,-482.0,-152.0,-182.0,-177.0,1.0
4,1784265,202054,Cash loans,31924.395,337500.0,404055.0,NaN,337500.0,THURSDAY,9,...,XNA,24.0,high,Cash Street: high,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
appfirst = pd.read_csv(r"C:\Users\hyara\Documents\python1\data sets\application_data.csv\application_data.csv")

appfirst.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [23]:
applicationDF.describe

<bound method NDFrame.describe of          SK_ID_PREV  SK_ID_CURR NAME_CONTRACT_TYPE  AMT_ANNUITY  \
0           2030495      271877     Consumer loans     1730.430
1           2802425      108129         Cash loans    25188.615
2           2523466      122040         Cash loans    15060.735
3           2819243      176158         Cash loans    47041.335
4           1784265      202054         Cash loans    31924.395
...             ...         ...                ...          ...
1670209     2300464      352015     Consumer loans    14704.290
1670210     2357031      334635     Consumer loans     6622.020
1670211     2659632      249544     Consumer loans    11520.855
1670212     2785582      400317         Cash loans    18821.520
1670213     2418762      261212         Cash loans    16431.300

         AMT_APPLICATION  AMT_CREDIT  AMT_DOWN_PAYMENT  AMT_GOODS_PRICE  \
0                17145.0     17145.0               0.0          17145.0
1               607500.0    679671.0               NaN         607500.0
2               112500.0    136444.5               NaN         112500.0
3               450000.0    470790.0               NaN         450000.0
4               337500.0    404055.0               NaN         337500.0
...                  ...         ...               ...              ...
1670209         267295.5    311400.0               0.0         267295.5
1670210          87750.0     64291.5           29250.0          87750.0
1670211         105237.0    102523.5           10525.5         105237.0
1670212         180000.0    191880.0               NaN         180000.0
1670213         360000.0    360000.0               NaN         360000.0

        WEEKDAY_APPR_PROCESS_START  HOUR_APPR_PROCESS_START  ...  \
0                         SATURDAY                       15  ...
1                         THURSDAY                       11  ...
2                          TUESDAY                       11  ...
3                           MONDAY                        7  ...
4                         THURSDAY                        9  ...
...                            ...                      ...  ...
1670209                  WEDNESDAY                       12  ...
1670210                    TUESDAY                       15  ...
1670211                     MONDAY                       12  ...
1670212                  WEDNESDAY                        9  ...
1670213                     SUNDAY                       10  ...

         NAME_SELLER_INDUSTRY  CNT_PAYMENT  NAME_YIELD_GROUP  \
0                Connectivity         12.0            middle
1                         XNA         36.0        low_action
2                         XNA         12.0              high
3                         XNA         12.0            middle
4                         XNA         24.0              high
...                       ...          ...               ...
1670209             Furniture         30.0        low_normal
1670210             Furniture         12.0            middle
1670211  Consumer electronics         10.0        low_normal
1670212                   XNA         12.0        low_normal
1670213                   XNA         48.0            middle

                 PRODUCT_COMBINATION  DAYS_FIRST_DRAWING DAYS_FIRST_DUE  \
0           POS mobile with interest            365243.0          -42.0
1                   Cash X-Sell: low            365243.0         -134.0
2                  Cash X-Sell: high            365243.0         -271.0
3                Cash X-Sell: middle            365243.0         -482.0
4                  Cash Street: high                 NaN            NaN
...                              ...                 ...            ...
1670209   POS industry with interest            365243.0         -508.0
1670210   POS industry with interest            365243.0        -1604.0
1670211  POS household with interest            365243.0        -1457.0
1670212             Cash X-Sell: low            365243.0        -1155.0
1670213          Cash X-Sell: middle            365243.0        -1163.0

        DAYS_LAST_DUE_1ST_VERSION  DAYS_LAST_DUE DAYS_TERMINATION  \
0                           300.0          -42.0            -37.0
1                           916.0       365243.0         365243.0
2                            59.0       365243.0         365243.0
3                          -152.0         -182.0           -177.0
4                             NaN            NaN              NaN
...                           ...            ...              ...
1670209                     362.0         -358.0           -351.0
1670210                   -1274.0        -1304.0          -1297.0
1670211                   -1187.0        -1187.0          -1181.0
1670212                    -825.0         -825.0           -817.0
1670213                     247.0         -443.0           -423.0

        NFLAG_INSURED_ON_APPROVAL
0                             0.0
1                             1.0
2                             1.0
3                             1.0
4                             NaN
...                           ...
1670209                       0.0
1670210                       0.0
1670211                       0.0
1670212                       1.0
1670213                       0.0

[1670214 rows x 37 columns]>

In [24]:
appfirst.describe

<bound method NDFrame.describe of         SK_ID_CURR  TARGET NAME_CONTRACT_TYPE CODE_GENDER FLAG_OWN_CAR  \
0           100002       1         Cash loans           M            N
1           100003       0         Cash loans           F            N
2           100004       0    Revolving loans           M            Y
3           100006       0         Cash loans           F            N
4           100007       0         Cash loans           M            N
...            ...     ...                ...         ...          ...
307506      456251       0         Cash loans           M            N
307507      456252       0         Cash loans           F            N
307508      456253       0         Cash loans           F            N
307509      456254       1         Cash loans           F            N
307510      456255       0         Cash loans           F            N

       FLAG_OWN_REALTY  CNT_CHILDREN  AMT_INCOME_TOTAL  AMT_CREDIT  \
0                    Y             0          202500.0    406597.5
1                    N             0          270000.0   1293502.5
2                    Y             0           67500.0    135000.0
3                    Y             0          135000.0    312682.5
4                    Y             0          121500.0    513000.0
...                ...           ...               ...         ...
307506               N             0          157500.0    254700.0
307507               Y             0           72000.0    269550.0
307508               Y             0          153000.0    677664.0
307509               Y             0          171000.0    370107.0
307510               N             0          157500.0    675000.0

        AMT_ANNUITY  ...  FLAG_DOCUMENT_18 FLAG_DOCUMENT_19 FLAG_DOCUMENT_20  \
0           24700.5  ...                 0                0                0
1           35698.5  ...                 0                0                0
2            6750.0  ...                 0                0                0
3           29686.5  ...                 0                0                0
4           21865.5  ...                 0                0                0
...             ...  ...               ...              ...              ...
307506      27558.0  ...                 0                0                0
307507      12001.5  ...                 0                0                0
307508      29979.0  ...                 0                0                0
307509      20205.0  ...                 0                0                0
307510      49117.5  ...                 0                0                0

       FLAG_DOCUMENT_21 AMT_REQ_CREDIT_BUREAU_HOUR AMT_REQ_CREDIT_BUREAU_DAY  \
0                     0                        0.0                       0.0
1                     0                        0.0                       0.0
2                     0                        0.0                       0.0
3                     0                        NaN                       NaN
4                     0                        0.0                       0.0
...                 ...                        ...                       ...
307506                0                        NaN                       NaN
307507                0                        NaN                       NaN
307508                0                        1.0                       0.0
307509                0                        0.0                       0.0
307510                0                        0.0                       0.0

        AMT_REQ_CREDIT_BUREAU_WEEK  AMT_REQ_CREDIT_BUREAU_MON  \
0                              0.0                        0.0
1                              0.0                        0.0
2                              0.0                        0.0
3                              NaN                        NaN
4                              0.0                        0.0
...                            ...                        ...
307506                         NaN                        NaN
307507                         NaN                        NaN
307508                         0.0                        1.0
307509                         0.0                        0.0
307510                         0.0                        2.0

        AMT_REQ_CREDIT_BUREAU_QRT  AMT_REQ_CREDIT_BUREAU_YEAR
0                             0.0                         1.0
1                             0.0                         0.0
2                             0.0                         0.0
3                             NaN                         NaN
4                             0.0                         0.0
...                           ...                         ...
307506                        NaN                         NaN
307507                        NaN                         NaN
307508                        0.0                         1.0
307509                        0.0                         0.0
307510                        0.0                         1.0

[307511 rows x 122 columns]>

In [28]:
applicationDF.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1670214 entries, 0 to 1670213
Data columns (total 37 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   SK_ID_PREV                   1670214 non-null  int64
 1   SK_ID_CURR                   1670214 non-null  int64
 2   NAME_CONTRACT_TYPE           1670214 non-null  object
 3   AMT_ANNUITY                  1297979 non-null  float64
 4   AMT_APPLICATION              1670214 non-null  float64
 5   AMT_CREDIT                   1670213 non-null  float64
 6   AMT_DOWN_PAYMENT             774370 non-null   float64
 7   AMT_GOODS_PRICE              1284699 non-null  float64
 8   WEEKDAY_APPR_PROCESS_START   1670214 non-null  object
 9   HOUR_APPR_PROCESS_START      1670214 non-null  int64
 10  FLAG_LAST_APPL_PER_CONTRACT  1670214 non-null  object
 11  NFLAG_LAST_APPL_IN_DAY       1670214 non-null  int64
 12  RATE_DOWN_PAYMENT            774370 non-null   float64
 13  RATE_INTEREST_PRIMARY        5951 non-null     float64
 14  RATE_INTEREST_PRIVILEGED     5951 non-null     float64
 15  NAME_CASH_LOAN_PURPOSE       1670214 non-null  object
 16  NAME_CONTRACT_STATUS         1670214 non-null  object
 17  DAYS_DECISION                1670214 non-null  int64
 18  NAME_PAYMENT_TYPE            1670214 non-null  object
 19  CODE_REJECT_REASON           1670214 non-null  object
 20  NAME_TYPE_SUITE              849809 non-null   object
 21  NAME_CLIENT_TYPE             1670214 non-null  object
 22  NAME_GOODS_CATEGORY          1670214 non-null  object
 23  NAME_PORTFOLIO               1670214 non-null  object
 24  NAME_PRODUCT_TYPE            1670214 non-null  object
 25  CHANNEL_TYPE                 1670214 non-null  object
 26  SELLERPLACE_AREA             1670214 non-null  int64
 27  NAME_SELLER_INDUSTRY         1670214 non-null  object
 28  CNT_PAYMENT                  1297984 non-null  float64
 29  NAME_YIELD_GROUP             1670214 non-null  object
 30  PRODUCT_COMBINATION          1669868 non-null  object
 31  DAYS_FIRST_DRAWING           997149 non-null   float64
 32  DAYS_FIRST_DUE               997149 non-null   float64
 33  DAYS_LAST_DUE_1ST_VERSION    997149 non-null   float64
 34  DAYS_LAST_DUE                997149 non-null   float64
 35  DAYS_TERMINATION             997149 non-null   float64
 36  NFLAG_INSURED_ON_APPROVAL    997149 non-null   float64
dtypes: float64(15), int64(6), object(16)
memory usage: 471.5+ MB